

Ref	/share/nas17/wujh/Project/Reseq/BMK140310-A93-Peach-Reseq/Analysis/Ref/ref.genome.fa	
Chr	scaffold_1,scaffold_2,scaffold_3,scaffold_4,scaffold_5,scaffold_6,scaffold_7,scaffold_8
Circle_type	scatter,line,histogram   #scatter#line#histogram


#gff	/share/nas17/wujh/Project/Reseq/Arabi_Reseq_BMK140306-A85/Analysis/Ref/ref.genome.gff
SNPvcf	/share/nas17/wujh/Project/Reseq/BMK140310-A93-Peach-Reseq/Analysis/Annotation/snp_anno/R01/Peach.formal.snp.vqsr.filter.R01.anno.gatk.vcf
indelvcf	/share/nas17/wujh/Project/Reseq/BMK140310-A93-Peach-Reseq/Analysis/Annotation/indel_anno/R01/Peach.formal.indel.vqsr.filter.R01.anno.gatk.vcf
SVinfo	/share/nas17/wujh/Project/Reseq/BMK140310-A93-Peach-Reseq/Analysis/SV/Peach.R01.sort.max
