
#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#									
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data_dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory. 
# Also, a non-absolute path will be relative to config's file dir
# 
#---



